.all {
  width: 100%;
  min-height: max-content;
  margin: 0px;
  padding: 0px;
}

.navbar_container {
  width: 90%;
  height: 80px;
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  flex-direction: row;
  align-items: center;
}

.title {
  color: white;
}

.articles_container {
  max-width: 98%;
  width: 100%;
  min-height: max-content;
  margin: 30px auto;
}

.footerButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formAuth {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3;
  align-items: center;
}
